<h1>Sistema de loterias - Mega Sena</h1>
<p>
    <form action="/" method="POST">
        Quantidade de numeros que deseja jogar<br><br>
        <input type="text" name="qtdNumeros">
        <br><br>
        <input type="submit" value="Simular">
    </form>
</p>

{{#if messages}}
    {{messages}}
{{/if}}